@import 'compass/css3';
$color: lighten(SlateGray, 48);
$color-dark: darken($color, 10);

* {
	@include box-sizing(border-box);
}

body {
	background: $color;
	font: 100%/1.5 'Helvetica Neue';
	outline: 2px solid $color-dark;
}

.filler {
	height: 300px;
}

[row] {
	margin: 0 !important;
}

[column] {
	background: rgba(white, 0.33);
	outline: 1px solid $color-dark;
	@media (max-width: 1024px) {
		display: block;
	}
	*:first-child {
		margin: 0;
	}
	* + * {
		margin: 1.5em 0 0;
	}
	&[column~='padded'] {
		> * {
			padding: 1.75em;
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	letter-spacing: 0.075em;
}

header {
	text-align: center;
}

.sub-head {
	margin: 0;
	font-style: italic;
	font-family: 'Georgia'
}

textarea {
	width: 100%;
	height: 12em;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background: none;
	resize: none;
	font-size: inherit;
	overflow: hidden;
	line-height: inherit;
}

.example {
	font-family: 'Courier';
	font-size: 0.875em;
}
