// EXAMPLE ///////////////
// Column is child of row. Column may contain rows.

// <div row>
// 	<div column></div>
//	<div column>
// 		<div row>
// 			<div column></div>
// 		</div>
// 	</div>
// </div>

[row] {
	display: table;
	table-layout: fixed;
	width: 100%;
}

[column] {
	display: table-cell;
	vertical-align: top;
}